include MANIFEST.in
include DLStudio/DLStudio.py
include DLStudio/__init__.py
include setup.py
include Makefile
include README
include DLStudio-1.1.0.html
include TestDLStudio/DLStudio.py
include TestDLStudio/TestInstanceCreation.py
include TestDLStudio/Test.py
include Examples/playing_with_reconfig.py
include Examples/playing_with_sequential.py
include Examples/playing_with_cifar10.py
include Examples/extending_autograd.py
include Examples/playing_with_skip_connections.py
include Examples/object_detection_and_localization.py
include Examples/noisy_object_detection_and_localization.py
include Examples/custom_data_loading.py
include Examples/semantic_segmentation.py
